.app.dark {
  --bg-color: #07015e;
  --inverted-bg-color: #b8b8b8;

  --secondary-color: #00bb10;
  --primary-color: #026d0b;
  --inverted-primary-color: #03007a;
  --inverted-secondary-color: #000ed4;
}
