.app.light {
  --bg-color: #b8b8b8;
  --inverted-bg-color: #07015e;

  --primary-color: #03007a;
  --secondary-color: #000ed4;
  --inverted-secondary-color: #026d0b;
  --inverted-primary-color: #00bb10;
}
